asgiref~=3.8.1
astroid~=3.3.9
certifi~=2025.1.31
chardet~=5.2.0
charset-normalizer~=3.4.1
colorclass~=2.2.2
dill~=0.4.0
Django~=5.2
django-cors-headers~=4.7.0
djangorestframework~=3.16.0
docopt~=0.6.2
gunicorn~=23.0.0
idna~=3.10
isort~=6.0.1
lazy-object-proxy~=1.11.0
mccabe~=0.7.0
packaging~=24.2
pip-upgrader~=1.4.15
pipdeptree~=2.26.0
platformdirs~=4.3.7
Pygments~=2.19.1
pylint~=3.3.6
python-gedcom~=1.0.0
pytz~=2025.2
requests~=2.32.3
six~=1.17.0
sqlparse~=0.5.3
terminaltables~=3.1.10
tomlkit~=0.13.2
typed_ast~=1.5.5
urllib3~=2.4.0
wrapt~=1.17.2
